@font-face {
    font-family: 'Circular-Std';
    src: url('./fonts/Circular-Std.woff2') format('woff2'),
      url('./fonts/Circular-Std.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  